
  <h1><%= @cocktail.name %></h1>

<div class="container">
  <div class="class row" justify-content-center mt-5>
    <%= @cocktail.doses.each do |dose| %>

  </div>

</div>
  <ul>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %> (<%= link_to "D", dose_path(dose), method: :delete, data: { confirm: "are you sure ?"} %>)

    </li>
    <% end %>
  </ul>
  <%= link_to "Back", cocktails_path, class: "btn btn-success" %>
  <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure ?"}, class: "btn btn-success"  %>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success"  %>
</div>
